/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #787676;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para los contenedores */
.container {
    margin-bottom: 20px;
}

/* Estilo para los campos de entrada */
input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para los botones */
button {
    padding: 10px 20px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Estilo para el área de visualización */
#agendaDisplay {
    margin-top: 20px;
}

#agendaDisplay div {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para los contenedores */
.container {
    margin-bottom: 20px;
}

/* Estilo para los campos de entrada */
.input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para los botones */
.btn {
    padding: 10px 20px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Estilo para el área de visualización */
.agenda-display {
    margin-top: 20px;
}

.agenda-display div {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
